html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
}

.inicio {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    width: 140px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 200px;
    gap: 20%; /* espaço entre os botões */
}

.nav-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.nav-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-btn:hover::after {
  width: 100%; /* cria uma linha animada */
}


.btn {
    background: #2888b1;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: #0f172a;
}

.btn:hover {
    background: #38bdf8;
    color: #0f172a;
 }
/* HERO */
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 8%;
    flex-wrap: wrap;
}

.text-content {
    text-align: left;
    flex: 1;
    max-width: 600px;
}

.titulo {
    font-size: 42px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.conteudo p {
    max-width: 600px;
    margin: 0 0 30px;
    font-size: 18px;
    color: #94a3b8;
}

.notebook-img {
    width: 100%;
    max-width: 500px;
    margin: 0;
}

/* BOTÕES HERO */
.btn-conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 40px;
    flex-wrap: wrap;
}

.produtos-conteudo {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.produtos-conteudo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.produtos-conteudo:hover::after {
  width: 100%; /* cria uma linha animada */
}

.contato-conteudo {
    background: #2888b1;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: #0f172a;
}

.contato-conteudo:hover {
    background: #38bdf8;
    color: #0f172a;
 }

/* SERVICES */
.services {
    padding: 80px 8%;
    text-align: center;
}

.services-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.services-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 16px;
    width: 280px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.card img {
    width: 80px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    background: #334155;
}

.title-card {
    margin-bottom: 10px;
    color: #38bdf8;
}

.p-card {
    margin: 0;
    color: #94a3b8;
    font-size: 16px;
    line-height: 1.5;
    min-height: 46px;
}

/* PROJECTS */
.project-title {
    text-align: center;
    margin-top: 60px;
    font-size: 32px;
}

.projects-imgs {
    display: flex;
    gap: 20px;
    padding: 40px 8%;
    justify-content: center;
    flex-wrap: wrap;
}

.img-project {
    position: relative;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #0ea5e9;
}

.img-project img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.8);
    color: #38bdf8;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 24px;
    font-weight: bold;
    transition: 0.4s;
}

.img-project:hover img {
    transform: scale(1.1);
}

.img-project:hover .overlay {
    opacity: 1;
}

/* FOOTER */
.footer {
    background: #020617;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.img-footer {
    width: 120px;
    margin-bottom: 10px;
}

.p-footer {
    color: #64748b;
    margin-bottom: 15px;
}

.social a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

.social a:hover {
    color: #0ea5e9;
}


.icone-servico {
  font-size: 2.5rem;
  color: #ffffff;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .services-cards {
        flex-direction: column;
        align-items: center;
    }
}
